@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=JetBrains+Mono:wght@400;700&family=Space+Grotesk:wght@300;500;700&family=Monoton&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-monoton: "Monoton", cursive;
}

@layer base {
  body {
    @apply bg-[#050505] text-white selection:bg-emerald-500/30 overflow-x-hidden;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.mask-radial {
  mask-image: radial-gradient(circle at center, black, transparent 80%);
}